<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center">
      <form
        action="edit_employee_picture"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" value="<%=eid%>" name="employeeid" /><br /><br />
        <h3><%=ename%></h3>
        <img src="/images/<%=picture%>" width="300 " /><br /><br />
        <input type="hidden" value="<%=picture%>" name="oldpicture" />
        <b>Select new Image</b><br />
        <input type="file" name="picture" required /><br /><br />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
